@font-face {
  font-family: 'Cardo';
  src: url('font/cardo/Cardo-Regular.ttf')
}

@font-face {
  font-family: 'Cardo-bold';
  font-weight: bold;
  src: url('font/cardo/Cardo-Bold.ttf')
}

@font-face {
  font-family: 'Cardo-italic';
  font-style: italic;
  src: url('font/cardo/Cardo-Italic.ttf')
}