@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

html {
    scroll-behavior: smooth;
}

.animate-spin {
    animation: spin 4s linear infinite;
}

.bawahfoto{
    border-radius: 200px 200px 40px 40px;
}

.akadresepsi{
    border-radius: 0px 60px 0px 60px;
}

.countdownn{
    border-radius: 200px 200px 30px 30px;
}

.inputan{
    background-color: transparent;
}

.animation {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 9999;
    animation: fadeOut 4s ease forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}