@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin {
    to { transform: rotate(360deg); }
}

html{
    scroll-behavior: smooth;
}

.animate-spin {
    animation: spin 4s linear infinite;
}

.flip-horizontal {
    --transform-scale-x: -1;
}

.flip-vertical {
    --transform-scale-y: -1;
}